{% extends 'Base.html' %}
{% load static %}
<link rel="stylesheet"  type="text/css" media='screen' href="{% static "styles/main.css" %}">

{% block content %}
<h1 style='margin-left:60   0px'>Change Password</h1>
<div id="user" style='margin-left:650px'>
<form action="" method = "POST">
    
    {% csrf_token %}
    
    {% for field in form %}
    <div>
        <p>{{ field.label }}: <br> {{ field }}</p>
    </div>
    {% endfor %}


<button id="btn" type='submit'>Submit</button>

</form>

</div>
<footer style='background-color: #333;
color: #fff;
margin-top:100px;
padding: 20px;
text-align: center;'>
    <p style="margin: 0;
    font-size: 14px;">&copy; 2023 My-Taxi. All rights reserved.</p>
    <a href="https://drive.google.com/file/d/1Klfs4L2zrb_Wue2CcT2IDxlU9IO3bGWf/view?usp=drivesdk" target="_blank" style='color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;'>jagadeeshgouda</a>
</footer>
{% endblock content %}